{% layout 'layout' %}

<ul>
  {% for todo in todos %}
    <li>{% include 'todo', id:forloop.index %}</li>
  {% endfor %}
</ul>

<a class='btn btn-primary' href='/name'>Name</a>
<a class='btn btn-success' href='/today'>Today</a>

<p>Powered by Express.js</p>
v 4.16.4
{% block 'footer' %}
  Copyright &copy;2019 - Kelompok 6 <b>PBKK H</b>
{% endblock %}