{% layout 'layout' %}

There are {{ users | size }} Active Users:
<ul>
{% for user in users -%}
<li>{{ user.name }} is {{ user.age }} years old </li>
{% endfor -%}
</ul>

{% block 'footer' %}
  Copyright &copy;2019 - Kelompok 6 <b>PBKK H</b>
{% endblock %}